@if (!isLoading) {
  <div class="portfolio-container"
    (click)="changeBackground()"
    [style.backgroundImage]="backgroundImage"
    [ngClass]="darkMode ? 'dark-mode' : ''"
    >

    @if (currentMedia.type === MediaType.Video) {
      <video class="background-video" [src]="currentMedia.url" autoplay loop></video>
    }

    @if (currentMedia.type === MediaType.Text) {
      <p class="text-box" [ngClass]="darkMode ? 'dark-mode' : ''">{{ currentTextBox }}</p>
    }


    <app-header [darkMode]="darkMode"></app-header>

    <div class="sidebar">
      <ul>
        @for (project of projectLinks; track project.slug) {
          <li>
            <a class="project-link"
              (click)="handleProjectClick($event)"
              [routerLink]="[]"
              [fragment]="project.slug"
              [ngClass]="{'dark-mode': darkMode, 'selected': currentProject === project.slug}">
              {{ project.name }}
            </a>
          </li>
        }
      </ul>
    </div>

  </div>
}
